{% extends 'auth_base.html' %}

{% block title %} Login {% endblock %}


{% block content %}
    <h1>Login Here..</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method='POST'>
        {% csrf_token %}
        {{ forms.as_p }}

        <button type='submit'>login</button>
        <p>Not yet registered? <a href="{% url "register" %}">click here.</a></p>
    </form>

{% endblock %}