{% extends 'auth_base.html' %}

{% block title %} Register {% endblock %}



{% block content %}
    <h1>This is register</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method='POST'>
        {% csrf_token %}
        {{ forms.as_p }}
        <button type="submit" >register</button>
        <p>Already registered? <a href="{% url "login" %}">click here.</a></p>
    </form>

{% endblock %}