{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container-fluid">
        <h1>Subjects</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Subject Code</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Instructor</th>
                    <th scope="col">Room</th>
                    <th scope="col">Department</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for subject in subjects %}
                    <tr>
                        <td scope="row">{{ subject.subject_code }}</td>
                        <td>{{ subject.subject_name }}</td>
                        <td>{{ subject.instruction }}</td>
                        <td>{{ subject.room }}</td>
                        <td>{{ subject.department }}</td>
                        <td>
                            <a href="{% url "update_subject" subject.pk %}" type="button" class="btn btn-warning">Update</a>
                            <a href="{% url "delete_subject" subject.pk %}" type="button" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% empty %}
                        <td>walang laman nigga</td>
                {% endfor %}
            </tbody>
        </table>

        <form method="POST">
            {% csrf_token %}
            {{ forms.as_p }}
            <button type="submit">submit</button>
        </form>


    </div>

{% endblock %}
